@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lato:ital,wght@0,100;1,300&family=Ubuntu:wght@300&display=swap");
:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: var(--main-bg-color);
    font-family: "Lato", sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
    color: rgb(58, 53, 53);
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: "Lato", sans-serif;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 27px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
    /* border: 2px solid white; */
    border-radius: 5px;
    font-weight: bold;
}

.search button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
}

.btn:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(58, 53, 53);
    border: 2px solid white;
}

.btn button {
    font-family: "Lato", sans-serif;
}
.btn:hover {
    font-weight: 900;
}
.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    width: 80vw;
    /* height: 23vh; */
    margin: 12px auto;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: 37px auto;
    /* overflow: hidden; */
}

.card-items {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2 {
    color: rgb(24, 76, 110);
    font-family: "Ubuntu", sans-serif;
}

.cards {
    display: flex;
    overflow: scroll;
}

/* justify-content: center; */
.card h2:hover {
    font-weight: bold;
    color: rgb(175, 157, 157);
    cursor: pointer;
}

.lines p:hover {
    color: rgb(75, 75, 156);
    font-weight: bold;
    cursor: pointer;
}

.teddy,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 0;
}

.teddy
p:hover {
    cursor: pointer;
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
    border:2px solid white;
}

.flex-all-center {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.flex-all-center p:hover {
    font-weight: bold;
    color: burlywood;
    cursor: pointer;
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
}

.text-center {
    text-align: center;
}

.ali_abdul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ali_abdul  a {
    padding: 0 12px;
    text-decoration: none;
}

.ali_abdul a:hover {
    font-weight: bold;
    color: rgb(41, 36, 36);
}
